# Binaries for programs and plugins
main
wch
*.exe
*.exe~
*.so
*.dylib
*.dll
emscripten.c
emscripten_.c
emscripten1.c

# Ignore binary output folders
bin/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# ENV
.env

# vweb and database
*.db
*.js
*.wasm
myfont.ttf
